.apptitle {
  font-display: center;
  align-items: center;
  margin-left: 780px;
  position: relative;
}

@media screen and (max-width: 950px) {
  .apptitle {
    font-display: center;
    align-items: center;
    font-size: 25px;
    margin: auto;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 400px) {
  .apptitle {
    font-display: center;
    align-items: center;
    font-size: 25px;
    margin: auto;
    margin-left: 50px;
    margin-bottom: -100px;
  }
}
